.header__a,.footer__a{
	font-size:1.2em;
	text-decoration:none;
	color:white;
	font-family:Helvetica, Arial, sans-serif;
}

.main__changeThemeBtn{
	height:50px;
	width:20%;
	font-size:16px;
	color:rgb(148, 36, 55);
}

.forside--paragraph{
	color:orange;
	font-size: 1.3em;
	font-family:Helvetica, Arial, sans-serif;
}